# Dependencies
node_modules/
*.tsbuildinfo

# Build output
dist/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Prisma
prisma/migrations/

# Test
test/**/*.spec.js
test/**/*.js

# Misc
*.tgz
.cache/
